/* Extra small devices (phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }
    .team_img_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .our_features {
        margin-left: 20px;
    }
}

/* Medium devices (tablets, 576px to 992px) */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }
    .our_features {
        margin-left: 50px auto;
    }
}

/* Large devices (992px and above) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (1200px and above) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

@media (min-width: 1400px) {

}

/* Optional: Larger screens */
@media (min-width: 1500px) and (max-width: 1999.98px) {

}

@media (min-width: 2000px) {

}
