/* Extra small devices (phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }
    .team_img_container, 
    .facts_container,
    .sponsor_companies {
        grid-template-columns: 1fr;
    }
    .facts_container {
        justify-items: center;
        justify-content: center;
        gap: 24px;
    }
    .sponsor_companies{
        justify-items: center;
        gap: 24px;
    }
    .our_features {
        padding-left: 0;
    }
    .tac{
        text-align: center;
    }
    .some_facts{
        text-align: center;
    }
    #experience_badge{
        margin-top: 20px;
        margin-left: 20px;
    }

}

/* Medium devices (tablets, 576px to 992px) */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .feature {
        flex-direction: column;
    }
    .our_features {
        margin: 50px auto;
    }
    .sponsor_companies, .facts_container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 50px;
    }
    #experience_badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}

/* Large devices (992px and above) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (1200px and above) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

@media (min-width: 1400px) {

}

/* Optional: Larger screens */
@media (min-width: 1500px) and (max-width: 1999.98px) {

}

@media (min-width: 2000px) {

}
