@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* UNIVARSAL / SHARED STYLES */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.display_flex {
    display: flex;
}

/* DARK 2 */
.text_gray {
    color: #424242;
}
.text_primary {
    color: #FF900E;
}
/* DARK 3 */
.text_light_gray {
    color: #727272;
}
.bg_light {
    padding-bottom: 45px;
    background-color: rgba(255, 144, 14, 0.1);
}
.btn_primary {
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #FF900E;
}
main > section{
    margin-top: 130px;
}
.section_title{
    font-size: 2.8em;
    font-weight: 700;
}
.facts_info{
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}
/********************************** HEADER & NAVBAR STYLES **********************************/
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-size: 2.8rem;
    font-weight: 700;
    color: #424242;
}
.nav_item {
    list-style: none;
    margin-right: 30px;
}
.nav_link {
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* BANNER RELATED STYLES */
.banner_content {
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.banner_title{
    font-size: 4rem;
    font-weight: 700;
    color: #424242;
}
.banner_img {
    width: 100%;
}
/* MAIN STARTS */
.main {
    max-width: 1440px;
    margin: 0 auto;
}
/* TEAM AND FEATURE RELATED STYLES */
.teams {
    align-items: center;
}
.team_img_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our_features {
    padding-left: 130px;
    max-width: 530px;
}
.feature_desc {
    font-size: 1em;
    font-weight: 400;
    color: #727272;
    margin-top: 0;
    margin-bottom: 32px;
}
#quick_list {
    font-weight: 500;
}
/* SOME FACTS */
.facts_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 50px;
}

.fact_card {
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact_number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact_name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
/* SPONSORS RELATED STYLES */
.sponsor_info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor_companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor_companies img {
    filter: grayscale(100%);
}
/* MAIN ENDS*/